*{
  margin:0;
  padding:0;
}
body,html{
  height:100%;
}


.parallax{
background-image:url(4.png);
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}
.parallax2{
  background-image:url(vishal.jpeg);
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}
img{
  rotation:20s linear infinite;
}



.p1{
  font-family:helvetica;
background-image:url(5.png);
color:white;
width:100%;
font-size:50px;
text-align:center;
height:70vh;
}

.p2{
  font-family:helvetica;
background-color:red;
color:white;
width:100%;
font-size:45px;
text-align:center;
height:80vh;

}
h1{
  font-size:60px;
  background-color:red;
  height:50vh;
  width:100%;
  text-align:center;
  color:white;

}

.parallax3{
  background-image:url("https://wallpaperaccess.com/full/6601753.jpg");
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}

table{
  align-contents:center;
  justify-content:center;
}
